// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

img {
	max-width: 100%;
}


/****************** Projects ******************/

.projects {
	.post-preview {
		> a {
			> .post-title {
			    margin-top: 10px;
			    font-size: 20px;

			}
			> .post-subtitle {
				font-size: 16px;
			}
		}
	}
}
